<ion-content>
  <div class="title">
    <h1 *ngIf="startDate">Day {{getDaysSinceFastStart(currentlySelectedDate, startDate)}}</h1>
  </div>

  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-1>
        <ion-icon *ngIf="!isOnStartDay()" color="primary" on-click="navDay(true)" name="arrow-back" class="nav-arrow"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <ion-card>
          <div class="weigh-in-img">
            <img class="placeholder" *ngIf="!selectedRecord || !selectedRecord.img" on-click="takePhoto(selectedRecord)" src="assets/imgs/picture-placeholder.svg">
            <img *ngIf="selectedRecord && selectedRecord.img" on-click="takePhoto(selectedRecord)" [src]="selectedRecord.img">
          </div>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col align-items-center>
                  <ion-input class="weight-input" type="text" placeholder="Weight" type="number" [formControl]="weightInputControl" [(ngModel)]="newWeightValue"></ion-input>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-icon *ngIf="!isOnLatestDay()" color="primary" on-click="navDay(false)" name="arrow-forward" class="nav-arrow"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>