page-home {
    .title {
        padding-left: 20px;
        margin-bottom : 20px;
    }

    .img-placeholder {
        height: 65vh;
        padding : 10px;
    }

    .nav-arrow {
        height: 100%;
        width: 100%;
        font-size: 25px;
    }

    .weight-input {
        font-size: 30px;

        input {
            margin : 0;
            width: 100%;
            text-align: center;
        }
    }
}
